# Data and Large Files
GAIA/
data/GAIA*/
data/HF_cache/
data/RSI*/
logs/
checkpoints/
*.zip
*.tar.gz

# Python Environment
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Build files
dist/
build/
*.egg-info/

*sweep*
.idea/
.python-version

